* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: Nunito, Alice;
}
li {
  list-style: none;
}
h1 {
  font-family: "Alice";
  font-weight: 400;
  font-size: 72px;
}
p {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 18px;
  color: #445566;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
