/********** Nav Meu **********/
.info {
  background: #1188ee;
  padding: 6px;
  color: #fff;
  font-family: "Nunito";
  font-size: 14px;
}
.info p {
  color: #fff;
  font-family: "Nunito";
  font-size: 14px;
}
.nav {
  background: #17222d;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 12px;
  color: #fff;
}
.nav-ellipse {
  width: 10px;
  height: 10px;
  border: solid 2px #fff;
  border-radius: 50px;
}
#nav-sublinhado {
  text-decoration: underline;
  text-decoration-color: red;
}
/********** Header and Form **********/
.header {
  background-image: url(/img/bg-intro.jpg);
  background-size: cover;
  height: 600px;
}
.header-item {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  gap: 249px;
  height: 550px;
}

.header-item h1 {
  font-family: "Alice";
  font-weight: 400;
  font-size: 72px;
  color: #fff;
}
.group-header {
  display: flex;
  height: 50px;
  box-shadow: 0px 5px 5px rgba(23, 34, 45, 0.4);
}
.form-header input {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  background: #fff;
  color: #bbccdd;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 12px 16px;
  display: block;
}
.form-header button {
  background: #ee2211;
  color: #fff;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 12px 16px;
  display: block;
}
.form-header img {
  margin-left: 21px;
}
/********** Section 1 **********/
/********** Panflero Maps **********/
.panfleto {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 60px;
}
.map-item {
  position: relative;
}
.map {
  position: absolute;
  left: 23px;
  bottom: -15px;
  filter: drop-shadow(0px 5px 5px rgba(187, 204, 221, 0.3))
    drop-shadow(0px 10px 10px rgba(187, 204, 221, 0.2));
}
.red-ellipse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  margin-top: 50px;
}
.red-ellipse span {
  width: 8px;
  height: 8px;
  border: solid 2px red;
  border-radius: 50px;
}
.red-ellipse p {
  font-family: "Nunito";
  font-weight: 700px;
  font-size: 14px;
  color: #17222d;
}
.ellipses ul {
  margin-top: 13px;
}
.blue-ellipse-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  margin-top: 13px;
}
.blue-ellipse-item p {
  font-family: "nunito";
  font-size: 14px;
  font-weight: 700;
  color: #99aabb;
}
.blue-ellipse {
  width: 10px;
  height: 2px;
  background: #1188ee;
}
.span-black {
  font-weight: 700;
  font-size: 14px;
  font-family: "Nunito";
  color: #17222d;
}
/********** Panfleto Infor **********/
.span-blue {
  color: #1188ee;
}
.panfleto-items {
  margin-top: 60px;
}
.pafleto-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.barra-gray {
  background: #eff4f9;
  width: 450px;
  height: 2px;
}
.text1 {
  margin-top: 30px;
}
.text2 {
  margin-top: 30px;
  margin-bottom: 60px;
}
/********* section cards *********/
.bg-section {
  padding: 60px 0px;
  background: #eff4f9;
  position: relative;
}
.bg-section::before {
  content: "";
  width: 174px;
  height: 68px;
  display: block;
  background-image: url("../img/ondas.svg");
  position: absolute;
  right: 45vw;
  top: -32px;
}
.bg-section h1 {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card {
  background: #fff;
  padding: 30px 60px;
  margin-top: 30px;
  position: relative;
}
.prancha {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 10px;
  right: 0;
  top: -20px;
}
.card h2 {
  color: #445566;
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: "nunito";
  text-transform: uppercase;
}
.barragray-card {
  background: #eff4f9;
  height: 2px;
  margin-top: 30px;
}
.card li {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.red-ellipse-card  /* Li */ {
  display: flex;
  width: 8px;
  height: 8px;
  border: solid 2px red;
  border-radius: 50px;
}
.pricebtn {
  margin-top: 15px;
}
.pricebtn span {
  color: #1188ee;
  font-size: 14px;
  font-weight: 700;
  font-family: "Nunito";
}
.pricebtn button {
  display: block;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  background: #445566;
  padding: 10px 15px;
  color: #ffffff;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
}
.pricebtn button img {
  margin-left: 60px;
}
.card-text {
  margin-top: 30px;
  text-align: center;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 400;
}
#color-red {
  color: #ee2211;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
#sublinhado-red {
  color: #445566;
  text-decoration-color: #ee2211;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
/* image backgroud */
.image-bg {
  background-image: url("../img/foto-quote.jpg");
  background-size: cover;
  height: 480px;
  padding: 120px;
}
.image-bg h1 {
  font-family: "Alice";
  font-style: normal;
  font-weight: 400px;
  font-size: 72px;
  text-align: center;
  color: #fff;
}
.image-bg p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
/********** Section Form **********/
.title-form {
  color: #445566;
  font-family: "Alice";
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  margin-top: 54px;
}
.groupform {
  display: flex;
  gap: 120px;
  margin-top: 30px;
}
.form label {
  color: #445566;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 18px;
}
.form input {
  background: #eff4f9;
  box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
  border-radius: 5px;
  width: 470px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border: none;
}
.form textarea {
  background: #eff4f9;
  box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
  border-radius: 5px;
  border: none;
  width: 470px;
  height: 180px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.form button {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 15px 15px;
  background: #445566;
  box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
  border-radius: 5px;
  margin-top: 30px;
}
/********** Formulario Grup **********/
.barraform-vertical {
  background: #eff4f9;
  width: 2px;
  height: 400px;
}

h4 {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  color: #445566;
}
#text-formgroup {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #445566;
  margin-top: 5px;
}
#vectoRED {
  margin-top: 10px;
  gap: 9px;
  display: flex;
  align-items: center;
}
#vectoRED span {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 700;
  color: #445566;
  margin-top: 10px;
}
#vectoRED img {
  margin-top: 7px;
}
.barraform-horizontal {
  width: 270;
  height: 2px;
  background: #eff4f9;
  margin-top: 15px;
  margin-bottom: 15px;
}
#on {
  display: flex;
  gap: 5px;
}
